.main-contacto {
  min-height: 100vh;
  background-color: #c1e3ed;
  text-align: center;
  padding-top: 55px;
}

.main-contacto select {
  background-color: rgb(189, 184, 184);
}

.form-contact input {
  background-color: rgb(189, 184, 184);
}

.form-contact select option {
  background-color: rgb(189, 184, 184);
}

.consulta {
  background-color: rgb(189, 184, 184);
}
