.main-contacto {
  min-height: 100vh;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.logo-h2 {
  color: white;
  font-size: 6px;
  margin-left: 10px;
  transform: skew(-20deg);
}

.main-contacto h1 {
  @extend %estilo-inicio;
}

.main-contacto select {
  background-color: rgb(189, 184, 184);
  border: black solid 3px;
  width: 150px;
}

.form-contact {
  padding-top: 60px;
}

.form-contact input {
  color: black;
  width: 250px;
  height: 45px;
  border-radius: 5%;
  border: black solid 3px;
}

.consulta {
  background-color: rgb(189, 184, 184);
  border: black solid 3px;
}

.tyc input {
  width: 5px;
}
