.footer {
  // background-color: $doradoopaco;
  background-image: linear-gradient(
    to bottom,
    rgb(235, 205, 205),
    rgb(135, 132, 132)
  );
}

.footer ul {
  display: flex;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
}

.footer li {
  padding: 5px;
  list-style: none;
}

.footer a {
  color: white;
}

.footer ul a:hover {
  color: black;
}

.footer p {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding-bottom: 20px;
}

.fa-whatsapp {
  font-size: 35px;
}

.fa-twitter {
  font-size: 35px;
}

.fa-instagram {
  font-size: 35px;
}

.fa-square-facebook {
  font-size: 35px;
}
