.header {
  background-image: linear-gradient(
    to bottom,
    rgb(135, 132, 132),
    rgb(235, 205, 205)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    margin-left: 30px;
  }
  &__ul {
    justify-content: center;
    padding: 25px;
    list-style: none;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: center;
    &--active {
      font-weight: 900;
    }
  }
}

.header__logo:hover {
  background-color: #dbccc4;
  transform: scale(1.1);
}

.header img {
  border: $grisclaro solid 10px;
  border-radius: 10%;
  width: 150px;
  padding: 15px;
  transform: skew(-20deg);
}

.logo-h2 {
  color: white;
  font-size: 6px;
}

.header li {
  padding: 10px;
}

.header a {
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: $typo-principal;
}

.header a:hover {
  color: #4b2840;
  font-weight: bold;
}
