.header {
  background-color: hsl(334, 41%, 69%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 150px;
  padding: 15px;
  transform: skew(-20deg);
}

.logo-h2 {
  color: white;
  font-size: 6px;
  /* transform: skew(35deg); */
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  padding: 10px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #4b2840;
  font-weight: bold;
}
