.main-index {
  min-height: 100vh;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.titulo {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.main-index h1 {
  @extend %estilo-inicio;
}

.main-index p {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 50vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
}

.carousel-inner {
  width: 50vw;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 20px;
}

.carousel {
  width: 50vw;
  margin: 0 auto;
}

.carousel-caption {
  padding-top: 5px;
  padding-bottom: 5px;
}

.carousel-caption h5 {
  font-size: 25px;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 0px;
}

.carousel-caption:hover {
  background-color: rgba(127, 119, 126, 0.596);
}

// .btn-carousel:hover {
//   background-color: #a4649d;
//   color: white;
// }
