.main-index {
  min-height: 100vh;
  // background-color: $doradopalido;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.main-index h1 {
  padding-bottom: 25px;
}

.main-index p {
  padding-bottom: 20px;
  max-width: 50vh;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
}
