.main-index {
  min-height: 100vh;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.titulo {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.main-index h1 {
  @extend %estilo-inicio;
}

.main-index p {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 50vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
}

.carousel-inner {
  width: 50vw;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 20px;
  // flex-wrap: wrap;
}

.carousel {
  width: 50vw;
  margin: 0 auto;
}

.carousel-caption {
  padding-top: 5px;
  padding-bottom: 5px;
}

.carousel-caption h5 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin: 0 auto;
}

.carousel-caption p {
  font-size: 20px;
  font-weight: bold;
  // margin: 0 auto;
  padding-bottom: 0px;
  color: black;
  display: flex;
  // flex-wrap: wrap;
  text-align: center;
  // background-color: $grisclaro;
}

.carousel-caption:hover {
  background-color: rgba(128, 128, 128, 0.738);
}
