.main-sucursales {
  // background-color: $doradopalido;
  min-height: 100vh;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.logo-h2 {
  color: white;
  font-size: 6px;
  margin-left: 10px;
  transform: skew(-20deg);
  /* transform: skew(35deg); */
}

.main-sucursales h1 {
  @extend %estilo-inicio;
}

.main-sucursales h2{
  @extend %estilo-inicio;
  @include estilo-texto;
}


.main-sucursales input {
  background-color: rgb(189, 184, 184);
}

.main-sucursales select {
  background-color: rgb(189, 184, 184);
}

.main-sucursales mapa {
  display: flex;
  flex-wrap: wrap;
}

.mapa {
  max-width: 80vw;
}

.main-sucursales h1 {
  // padding-bottom: 25px;
  max-width: 100vw;
}

.main-sucursales h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-top: 55px;
}
