.main-sucursales {
  background-color: #c1e3ed;
  min-height: 100vh;
  text-align: center;
  padding-top: 55px;
}

.main-sucursales input {
  background-color: rgb(189, 184, 184);
}

.main-sucursales select {
  background-color: rgb(189, 184, 184);
}

.main-sucursales h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-top: 55px;
}
