.logo-h2 {
  color: white;
  font-size: 6px;
  margin-left: 10px;
  transform: skew(-20deg);
}

.main-tarifas {
  min-height: 100vh;
  // background-color: $doradopalido;
  text-align: center;
  padding-top: 55px;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.main-tarifas h1 {
  @extend %estilo-inicio;
}

.main-tarifas h2 {
  @extend %estilo-inicio;
}

.main-tarifas h2 {
  @include estilo-texto;
  background-image: radial-gradient(rgb(235, 205, 205), rgb(96, 94, 94));
}

.tarifas-promo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.titulo {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.main-tarifas p {
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 50vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
}

.table {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: black solid 3px;
  // border-radius: 10%;
}

.table th {
  background-color: $doradopalido;
  border-radius: 20%;
}

.table td {
  background-color: $grisclaro;
}

.table tr {
  font-size: 20px;
}
